# Quantium Data Analytics Virtual Experience - Task1 - Josh Bryden

In [20]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt 

#Pandas settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# seaborn settings
sns.set_style("darkgrid")

## Data importing

In [21]:
purchase_data = pd.read_csv('data/QVI_purchase_behaviour.csv')
purchase_data.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [22]:
purchase_data.shape

(72637, 3)

In [23]:
purchase_data.dtypes

LYLTY_CARD_NBR       int64
LIFESTAGE           object
PREMIUM_CUSTOMER    object
dtype: object

In [24]:
purchase_data.nunique()

LYLTY_CARD_NBR      72637
LIFESTAGE               7
PREMIUM_CUSTOMER        3
dtype: int64

In [25]:
purchase_data.isnull().sum() # missing values - none

LYLTY_CARD_NBR      0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
dtype: int64

In [26]:
transaction_data = pd.read_csv('data/QVI_transaction_data.csv')
transaction_data.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

In [27]:
transaction_data.shape

(264836, 8)

In [28]:
transaction_data.dtypes

DATE                int64
STORE_NBR           int64
LYLTY_CARD_NBR      int64
TXN_ID              int64
PROD_NBR            int64
PROD_NAME          object
PROD_QTY            int64
TOT_SALES         float64
dtype: object

Date encoded above as int - we will need to change to datetime

In [29]:
transaction_data.nunique()

DATE                 364
STORE_NBR            272
LYLTY_CARD_NBR     72637
TXN_ID            263127
PROD_NBR             114
PROD_NAME            114
PROD_QTY               6
TOT_SALES            112
dtype: int64

In [30]:
transaction_data.isnull().sum() # missing values - none

DATE              0
STORE_NBR         0
LYLTY_CARD_NBR    0
TXN_ID            0
PROD_NBR          0
PROD_NAME         0
PROD_QTY          0
TOT_SALES         0
dtype: int64

## Data cleaning

In [31]:
# merge the two datasets on the loyalty card number
chips_data = pd.merge(transaction_data, purchase_data, on='LYLTY_CARD_NBR', how='left')
chips_data.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,MIDAGE SINGLES/COUPLES,Budget
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,MIDAGE SINGLES/COUPLES,Budget
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,MIDAGE SINGLES/COUPLES,Budget
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,MIDAGE SINGLES/COUPLES,Budget

In [32]:
# convert excel date time to python date time
chips_data['DATE'] = pd.to_datetime(chips_data['DATE'], origin = "1899-12-30", unit='D') # origin set based off excel time, units in days since epoch (for excel this is 1/1/1900)
# https://stackoverflow.com/a/64068366/11938664
chips_data.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,MIDAGE SINGLES/COUPLES,Budget
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,MIDAGE SINGLES/COUPLES,Budget
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,MIDAGE SINGLES/COUPLES,Budget
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,MIDAGE SINGLES/COUPLES,Budget

In [33]:
transaction_data.describe()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_QTY,TOT_SALES
count,264836.000000,264836.00000,2.648360e+05,2.648360e+05,264836.000000,264836.000000,264836.000000
mean,43464.036260,135.08011,1.355495e+05,1.351583e+05,56.583157,1.907309,7.304200
std,105.389282,76.78418,8.057998e+04,7.813303e+04,32.826638,0.643654,3.083226
min,43282.000000,1.00000,1.000000e+03,1.000000e+00,1.000000,1.000000,1.500000
25%,43373.000000,70.00000,7.002100e+04,6.760150e+04,28.000000,2.000000,5.400000
50%,43464.000000,130.00000,1.303575e+05,1.351375e+05,56.000000,2.000000,7.400000
75%,43555.000000,203.00000,2.030942e+05,2.027012e+05,85.000000,2.000000,9.200000
max,43646.000000,272.00000,2.373711e+06,2.415841e+06,114.000000,200.000000,650.000000

In [34]:
print(chips_data['PROD_NAME'].unique())

['Natural Chip        Compny SeaSalt175g' 'CCs Nacho Cheese    175g'
 'Smiths Crinkle Cut  Chips Chicken 170g'
 'Smiths Chip Thinly  S/Cream&Onion 175g'
 'Kettle Tortilla ChpsHny&Jlpno Chili 150g'
 'Old El Paso Salsa   Dip Tomato Mild 300g'
 'Smiths Crinkle Chips Salt & Vinegar 330g'
 'Grain Waves         Sweet Chilli 210g'
 'Doritos Corn Chip Mexican Jalapeno 150g'
 'Grain Waves Sour    Cream&Chives 210G'
 'Kettle Sensations   Siracha Lime 150g' 'Twisties Cheese     270g'
 'WW Crinkle Cut      Chicken 175g' 'Thins Chips Light&  Tangy 175g'
 'CCs Original 175g' 'Burger Rings 220g'
 'NCC Sour Cream &    Garden Chives 175g'
 'Doritos Corn Chip Southern Chicken 150g' 'Cheezels Cheese Box 125g'
 'Smiths Crinkle      Original 330g'
 'Infzns Crn Crnchers Tangy Gcamole 110g'
 'Kettle Sea Salt     And Vinegar 175g'
 'Smiths Chip Thinly  Cut Original 175g' 'Kettle Original 175g'
 'Red Rock Deli Thai  Chilli&Lime 150g' 'Pringles Sthrn FriedChicken 134g'
 'Pringles Sweet&Spcy BBQ 134g' 'Red Rock Deli SR    Salsa & Mzzrlla 150g'
 'Thins Chips         Originl saltd 175g'
 'Red Rock Deli Sp    Salt & Truffle 150G'
 'Smiths Thinly       Swt Chli&S/Cream175G' 'Kettle Chilli 175g'
 'Doritos Mexicana    170g' 'Smiths Crinkle Cut  French OnionDip 150g'
 'Natural ChipCo      Hony Soy Chckn175g'
 'Dorito Corn Chp     Supreme 380g' 'Twisties Chicken270g'
 'Smiths Thinly Cut   Roast Chicken 175g'
 'Smiths Crinkle Cut  Tomato Salsa 150g'
 'Kettle Mozzarella   Basil & Pesto 175g'
 'Infuzions Thai SweetChili PotatoMix 110g'
 'Kettle Sensations   Camembert & Fig 150g'
 'Smith Crinkle Cut   Mac N Cheese 150g'
 'Kettle Honey Soy    Chicken 175g' 'Thins Chips Seasonedchicken 175g'
 'Smiths Crinkle Cut  Salt & Vinegar 170g'
 'Infuzions BBQ Rib   Prawn Crackers 110g'
 'GrnWves Plus Btroot & Chilli Jam 180g'
 'Tyrrells Crisps     Lightly Salted 165g'
 'Kettle Sweet Chilli And Sour Cream 175g'
 'Doritos Salsa       Medium 300g' 'Kettle 135g Swt Pot Sea Salt'
 'Pringles SourCream  Onion 134g' 'Doritos Corn Chips  Original 170g'
 'Twisties Cheese     Burger 250g'
 'Old El Paso Salsa   Dip Chnky Tom Ht300g'
 'Cobs Popd Swt/Chlli &Sr/Cream Chips 110g'
 'Woolworths Mild     Salsa 300g'
 'Natural Chip Co     Tmato Hrb&Spce 175g'
 'Smiths Crinkle Cut  Chips Original 170g'
 'Cobs Popd Sea Salt  Chips 110g'
 'Smiths Crinkle Cut  Chips Chs&Onion170g'
 'French Fries Potato Chips 175g'
 'Old El Paso Salsa   Dip Tomato Med 300g'
 'Doritos Corn Chips  Cheese Supreme 170g'
 'Pringles Original   Crisps 134g' 'RRD Chilli&         Coconut 150g'
 'WW Original Corn    Chips 200g' 'Thins Potato Chips  Hot & Spicy 175g'
 'Cobs Popd Sour Crm  &Chives Chips 110g'
 'Smiths Crnkle Chip  Orgnl Big Bag 380g'
 'Doritos Corn Chips  Nacho Cheese 170g'
 'Kettle Sensations   BBQ&Maple 150g' 'WW D/Style Chip     Sea Salt 200g'
 'Pringles Chicken    Salt Crips 134g' 'WW Original Stacked Chips 160g'
 'Smiths Chip Thinly  CutSalt/Vinegr175g' 'Cheezels Cheese 330g'
 'Tostitos Lightly    Salted 175g' 'Thins Chips Salt &  Vinegar 175g'
 'Smiths Crinkle Cut  Chips Barbecue 170g' 'Cheetos Puffs 165g'
 'RRD Sweet Chilli &  Sour Cream 165g' 'WW Crinkle Cut      Original 175g'
 'Tostitos Splash Of  Lime 175g' 'Woolworths Medium   Salsa 300g'
 'Kettle Tortilla ChpsBtroot&Ricotta 150g' 'CCs Tasty Cheese    175g'
 'Woolworths Cheese   Rings 190g' 'Tostitos Smoked     Chipotle 175g'
 'Pringles Barbeque   134g' 'WW Supreme Cheese   Corn Chips 200g'
 'Pringles Mystery    Flavour 134g'
 'Tyrrells Crisps     Ched & Chives 165g'
 'Snbts Whlgrn Crisps Cheddr&Mstrd 90g' 'Cheetos Chs & Bacon Balls 190g'
 'Pringles Slt Vingar 134g' 'Infuzions SourCream&Herbs Veg Strws 110g'
 'Kettle Tortilla ChpsFeta&Garlic 150g'
 'Infuzions Mango     Chutny Papadums 70g'
 'RRD Steak &         Chimuchurri 150g' 'RRD Honey Soy       Chicken 165g'
 'Sunbites Whlegrn    Crisps Frch/Onin 90g' 'RRD Salt & Vinegar  165g'
 'Doritos Cheese      Supreme 330g' 'Smiths Crinkle Cut  Snag&Sauce 150g'
 'WW Sour Cream &OnionStacked Chips 160g' 'RRD Lime & Pepper   165g'
 'Natural ChipCo Sea  Salt & Vinegr 175g'
 'Red Rock Deli Chikn&Garlic Aioli 150g'
 'RRD SR Slow Rst     Pork Belly 150g' 'RRD Pc Sea Salt     165g'
 'Smith Crinkle Cut   Bolognese 150g' 'Doritos Salsa Mild  300g']

In [35]:
# split up string by spaces
product_words = chips_data["PROD_NAME"].str.split() # default is split on whitespace

In [36]:
def product_unique_words(list_of_words):
    """ Counts number of times a word
        appears in a list of words """
    for word in list_of_words:
        if word not in word_count:
            word_count[word] = 1
        else:
            word_count[word] +=1

In [37]:
# initalize word_count
word_count = {}
# apply product_unique_words function to each row of the product_words list
product_words.apply(lambda row: product_unique_words(row))
# change product words to series and sort values with largest at top
print(pd.Series(word_count).sort_values(ascending=False))

175g                  60561
Chips                 49770
150g                  41633
Kettle                41288
&                     35565
Smiths                28860
Salt                  27976
Cheese                27890
134g                  25102
Pringles              25102
Doritos               24962
Crinkle               23960
110g                  22387
Corn                  22063
Original              21560
Cut                   20754
Chip                  18645
170g                  18502
Salsa                 18094
Chicken               15407
165g                  15297
Sea                   14145
Thins                 14075
Sour                  13882
Crisps                12607
330g                  12540
Vinegar               12402
Chilli                12389
300g                  12041
RRD                   11894
Infuzions             11057
Supreme               10963
WW                    10320
Popd                   9693
Cobs                   9693
Tortilla               9580
Tostitos               9471
Twisties               9454
Sensations             9429
Paso                   9324
Old                    9324
El                     9324
Dip                    9324
Sweet                  7883
Lime                   7852
Tomato                 7669
Cream                  7618
Thinly                 7507
Tyrrells               6442
380g                   6418
And                    6373
BBQ                    6351
Tangy                  6332
Waves                  6272
Grain                  6272
Lightly                6248
Salted                 6248
Soy                    6121
Natural                6050
Mild                   6048
Red                    5885
Rock                   5885
Deli                   5885
Thai                   4737
Burger                 4733
Swt                    4718
Chives                 4687
Honey                  4661
Nacho                  4658
Potato                 4647
Cheezels               4603
CCs                    4551
200g                   4473
Woolworths             4437
Pesto                  3304
Basil                  3304
Mozzarella             3304
Chili                  3296
ChpsHny&Jlpno          3296
&Sr/Cream              3269
Swt/Chlli              3269
Ched                   3268
135g                   3257
Pot                    3257
Of                     3252
Splash                 3252
SweetChili             3242
PotatoMix              3242
Bag                    3233
Big                    3233
Orgnl                  3233
Crnkle                 3233
Spicy                  3229
Hot                    3229
Camembert              3219
Fig                    3219
Barbeque               3210
Mexican                3204
Jalapeno               3204
Light&                 3188
Chp                    3185
Dorito                 3185
Sweet&Spcy             3177
Crackers               3174
Prawn                  3174
Rib                    3174
Southern               3172
Chicken270g            3170
250g                   3169
210g                   3167
Onion                  3162
SourCream              3162
&Chives                3159
Crm                    3159
ChpsBtroot&Ricotta     3146
Chipotle               3145
Smoked                 3145
Crn                    3144
Gcamole                3144
Crnchers               3144
Infzns                 3144
ChpsFeta&Garlic        3138
Strws                  3134
SourCream&Herbs        3134
Veg                    3134
Siracha                3127
Ht300g                 3125
Tom                    3125
Chnky                  3125
270g                   3115
Mexicana               3115
Mystery                3114
Seasonedchicken        3114
Flavour                3114
Med                    3114
Cream&Chives           3105
210G                   3105
Crips                  3104
Vingar                 3095
Slt                    3095
FriedChicken           3083
Sthrn                  3083
BBQ&Maple              3083
Rings                  3080
ChipCo                 3010
90g                    3008
190g                   2995
SR                     2984
160g                   2970
Smith                  2963
Cheetos                2927
Medium                 2879
French                 2856
Whlgrn                 1576
Snbts                  1576
Cheddr&Mstrd           1576
Tmato                  1572
Hrb&Spce               1572
Co                     1572
220g                   1564
Vinegr                 1550
Tasty                  1539
Belly                  1526
Slow                   1526
Rst                    1526
Pork                   1526
Roast                  1519
Mac                    1512
N                      1512
70g                    1507
Papadums               1507
Chutny                 1507
Mango                  1507
Chilli&                1506
Coconut                1506
Snag&Sauce             1503
150G                   1498
Truffle                1498
Sp                     1498
Chilli&Lime            1495
Barbecue               1489
Stacked                1487
&OnionStacked          1483
Chs&Onion170g          1481
Chs                    1479
Bacon                  1479
Balls                  1479
Pepper                 1473
S/Cream&Onion          1473
D/Style                1469
Jam                    1468
180g                   1468
Btroot                 1468
Plus                   1468
GrnWves                1468
SeaSalt175g            1468
Compny                 1468
Chli&S/Cream175G       1461
Chckn175g              1460
Hony                   1460
Mzzrlla                1458
Steak                  1455
Chimuchurri            1455
Box                    1454
125g                   1454
Bolognese              1451
Puffs                  1448
Originl                1441
saltd                  1441
CutSalt/Vinegr175g     1440
OnionDip               1438
Chikn&Garlic           1434
Aioli                  1434
Frch/Onin              1432
Whlegrn                1432
Sunbites               1432
Pc                     1431
NCC                    1419
Garden                 1419
Fries                  1418
dtype: int64

From the output above we can see that the datset contains products with 'Salsa' in it - we should remove these values